@model NorthwindCorp.Web.Models.Breadcrumbs

<p class="text-center text-black-50">
  @Html.ActionLink("Home", "Index", "Home") >
  @if (@Model.Controller != String.Empty)
  {
    @Html.ActionLink($"{@Model.Controller}", "Index", $"{@Model.Controller}")
    @if (Model.Action != "Index")
    {
      <span> > @Model.Action</span>
    }
  }
  @if (@Model.Page != String.Empty)
  {
    <a asp-area=@Model.Area asp-page=@Model.Page>@Model.Page.Split("/").Last()</a>
  }

</p>
